.footer{
  display: block;
  /* padding: 100px 0px 0px 0px; */
  background-color: #1865F9;
  border-radius: 0px 0px 0 0;
  position: relative;
  z-index: 2;
  /* align-items: flex-start;
  justify-content: space-between; */
}
.footer-top {
    padding-top: 100px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.footer .imgs{
  display: block;
  float: left;
  line-height: 1;
}
.footer .imgs img{
  width: 50%;
  height: auto;
}
.footer .link-list {display: flex; float: right;width: 45%;}
.footer .link-list .list {display: block;width: 22%;}
.footer .link-list .list:last-child { width: auto;}
.footer .link-list .list.w2{ width:22%;}
.footer .link-list ul { margin-top: 31px;}
.footer .link-list li {line-height: 22px; margin-bottom: 14px;}
.footer .link-list li a { /*opacity: 0.67;*/ color:#D7E7F4;font-size: 14px;}
.footer .link-list li a:hover {opacity: 1.0; margin-left:3px; text-decoration:underline;color:#f1f1f1;}
.footer .link-list li:last-child{ margin-bottom:0;}
.footer .title { line-height: 1.1; font-size: 16px;color: #fff;display:inline-block;display: flex;  align-items: center;justify-content: space-between;}
.footer .title i{font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background:url(../images/foot_bg2.png) right center no-repeat; width:12px; height:12px;line-height: 1;background-size:100% 100%; display:none;transition: .5s;}
.footer .active .title i{ background-image:url(../images/foot_bg2_on.png);}
.footer a.title {font-weight: 400;}
.footer a:hover.title  {font-weight: 400;}

.bottom {
  display: inline-block;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bottom .title {display: block;padding-bottom: 20px;line-height: 1.1;font-size: 16px;color: #fff;}
.bottom a.title {font-weight: bold;}
.bottom a:hover.title  {font-weight: bold;}
.bottom .ul{
  width: 86%;
  margin-right: 2%;
}
.bottom .bottomli{
  display: inline-block;
  float: left;
  width: 20%;
  vertical-align: top;
  position: relative;
  line-height: 2;
  color:#D7E7F4;
  font-size: 14px;
}
.bottom .bottomli a{
  color: #D7E7F4;
}
.bottom .bottomli a:hover{
  color: #fff;
  text-decoration: underline;
}
.bottom div.bottomli:first-child{
  width: 24%;
}
.bottom div.bottomli:last-child{
  width: 37%;
}
.bottom div.bottomli:last-child:before{
  width:0;
}
.bottom .bottomli:before {
  background: #5088F5;
  bottom: 4px;
  content: "";
  /* opacity: 1; */
  position: absolute;
  right: 20px;
  top: 4px;
  width: 1px;
}
.bottom div.bottomli p img{
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-left:10px;
  padding-right: 5px;
  padding-top: 5px;
}

.f_div2_l{float:right;display: flex;width: 72px;height: 50px;margin-left: 16px;background: #fff;border-radius: 25px;align-items: center;justify-content: center;text-transform:uppercase; cursor:pointer;transition: .4s;}
.f_div2_l:hover{ margin-top:-5px;background: #0458A9}
.f_div2_l:hover i {
  color: #fff;
  transform: translateY(-2px)
}
.f_div2_l i {
  color: #005eb8;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  transition: .3s
}

.bottom .friendship {
  float: right;
  width: 20%;
  line-height: 38px;
  font-size: 14px;
  color: #333;
}
.bottom .friendship .t {
  display: inline-block;
}
.bottom .friendship .links_list {
  width: 200px;
  float: right;
  margin-left: 10px;
  position: relative;
}
.bottom .friendship .tit {
  height: 38px;
  padding: 0 30px 0 16px;
  background: url(../images/arrow1.png) no-repeat right 10px center #fff;
  color: #0458A9;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  border-radius: 5px;
}
.bottom .friendship .tit.on {
  background-image: url(../images/arrow2.png);
}
.bottom .friendship ul {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 38px;
  z-index: 10;
  display: none;
}
.bottom .friendship ul a {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  display: block;
  font-size: 14px;
  color: #666;
  background: #fff;
  border-bottom: solid 1px #ededed;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.bottom .friendship ul a:hover {
  color: #fff;
  background-color: #0458A9;
}

@media screen and (max-width: 1440px) {
  .bottom .ul{width: 88%;}
}
@media screen and (max-width: 1400px) {
  .f_bg .contact ul{ font-size:15px;}
}
@media screen and (max-width: 1340px) {
  .footer .link-list{width: calc(96% - 416px); width: -webkit-calc(96% - 416px); width: -moz-calc(96% - 416px);}
}
@media screen and (max-width: 1440px) {
  .bottom .ul{width: 96%;}
}
@media screen and (max-width: 1280px) {
  .bottom .ul{width: 96%;}
  .bottom .bottomli{
    width: 22%;
  }
  .bottom div.bottomli:first-child{
    width: 35%;
  }
  .bottom div.bottomli:last-child{
    width: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    padding:3% 0;
    margin-top:0;
  }
  .footer:before{ display:none;}
  .footer-top {
    display: block;
    padding-top: 0px;
  }
  .footer .title {
  	height: 40px;
  	line-height: 40px;
  	/*display: block; */font-weight:normal; font-size:16px;
  }
  .footer .title i{ display:inline-block;}
  .footer .link-list {
    display: inline-block;
  	width: calc(100% - 0px);
    width: -webkit-calc(100% - 0px);
    width: -moz-calc(100% - 0px);max-width:none;
  	float: none;
    border-right:0;
    margin-top:25px;
    text-align:left;
    min-height:inherit;
  }
  .footer .link-list .list {
  	width: 100%;
  	float: none;
  	border-bottom: solid 1px rgba(255, 255, 255, .2);
  }
  .footer .link-list .list.w2{ width:100%;}
  .footer .link-list ul {
  	margin: 0;
  	padding-bottom: 10px;
  	display: none;
  }
  .footer .link-list li {
  	margin: 0;
  }
  .footer .link-list li a {
  	/*opacity: .8;*/
  	height: 30px;
  	line-height: 30px;
  	display: block;
  }

  .footer .contact {
    clear:both;
  	float:none; display:inline-block; vertical-align:top;
  	/*max-width: 300px;*/
  	margin: 10px auto; margin-bottom:4%; text-align:left;
  }

  .bottom{
    padding: 30px 0 0px 0px;
  }
  .bottom .bottomli {
    width: 26%;
  }
  .bottom div.bottomli:first-child {
    width: 32%;
  }
  .bottom div.bottomli:last-child {
      width: 42%;
  }
  .bottom .friendship {
  	width: 100%;
  	max-width: 600px;
  	margin: 0 auto;
  	float: none;
  }
  .bottom .friendship .t{
  	width: 15%;
  	float: left;
  }
  .bottom .friendship .list {
  	margin-left: 0;
  	width: 85%;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 4% 0;
    border-radius: 30px 30px 0 0;
  }
  .bottom .ul{
    width: 100%;
    margin-right: 0%;
  }
  .bottom .bottomli{
    width: 100%;
  }
  .bottom div.bottomli:first-child {
    width: 100%;
  }
  .bottom div.bottomli:last-child {
    width: 100%;
  }
  .bottom .bottomli:before{
    width: 0px;
  }
  .f_div2_l{
    float: left;
    width: 60px;
    height: 40px;
    margin-top: 10px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 820px) {
  .footer .imgs img.logo{
      max-width: 80%;
      height: auto;
  }
}
@media screen and (max-width: 540px) {
  .footer {
    border-radius: 20px 20px 0 0;
  }
}
@media screen and (max-width: 480px) {
  .footer .link-list{ margin-bottom:3%;}
  .footer .contact ul{ margin-top:2%; font-size:13px;}
  .footer .contact ul li{ margin-bottom:8px; background-size:18px 21px; background-position:left 3px;}
}
@media screen and (max-width: 320px) {
  .footer .imgs img.logo{
      max-width: 70%;
      height: auto;
  }
}
