/*发展历程*/
.about_one{
  display: none;
  overflow:hidden;
  position:relative;
  background-repeat:no-repeat;
  background-position:center bottom;
  background-size: cover;
}
.about_one .swiper-btn-box {
  --s: 16px;
  --fill: var(--mcolor);
  --dc: rgba(var(--mcolor-rgb), 0.1);
  --hc: rgba(var(--mcolor-rgb), 0.5);
}
.about_one .swiper-btn-box .swiper-btn {
  display: flex;
  position: relative;
}
.about_one .swiper-btn-box .swiper-btn .self-svg {
  --size: 100%;
  position: relative;
  border-radius: 5px;
  width: var(--s);
  height: var(--s);
  background-color: transparent;
  transition: background 0.3s;
}
.about_one .swiper-btn-box .swiper-btn.prev svg {
  transform: scaleX(-1);
}
.about_one .swiper-box .swiper-other {
  /* padding-top: clamp(0.3rem, 3.645vw, 70px); */
}
.about_one .swiper-box .swiper-button{
  position: relative;
  left: 0;
  top:0;
}
.about_one .swiper-box .swiper-other .swiper-btn {
  flex-shrink: 0;
  color: #000;
}
/* .about_one .swiper-box .swiper-other .delay-box {
  width: calc(96.8% - var(--s)*2);
}
.about_one .swiper-box .swiper-other .delay-box .delay-line {
  display: block;
  position: relative;
  background: #dcdcdc;
  height: 2px;
}
.about_one .swiper-box .swiper-other .delay-box .delay-line::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:#000;
}
.about_one .swiper-box .swiper-other .delay-box.run .delay-line::before {
  animation: swiper-delay-ani var(--anitime) linear;
} */

@keyframes cycle-ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pointrun1 {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  75% {
    transform: scale(4.5);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.inner {
    margin: 0 auto;
    width: 1490px;
}
.about-block-history {
  --anitime: 9.3s;
  overflow:hidden;
  padding-top: 150px;
  padding-bottom: 0.5rem;
  min-height: 750px;
  /* background-image: linear-gradient(31deg, #2244b1 0%, #115aba 65%, #006fc3 100%); */
  background: -webkit-linear-gradient(bottom, #fff, #dbedff);
  background: -o-linear-gradient(top, #fff, #dbedff);
  background: linear-gradient(to top, #fff, #dbedff);
  border-radius: 4.17vw 4.17vw 0 0;
}
.about-block-history .content{
  position: absolute;
  top: 30%;
  left: 27%;
  right: -690px;
  -webkit-transform: translate(-326px, 0);
  -moz-transform: translate(-326px, 0);
  -ms-transform: translate(-326px, 0);
  -o-transform: translate(-326px, 0);
  transform: translate(-326px, 0);
  z-index: 5;
}
.about-block-history .img-cycle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1399px;
}
.about-block-history .img-cycle img {
  display: block;
  animation: cycle-ani var(--anitime) linear infinite;
}
.about-block-history .auto-title-block {
  position: relative;
  z-index: 0;
  float: inline-start;
  margin-bottom: 0px;
}
.about-block-history .auto-title-block .auto-title-h2 {
  color: #2b2c42;
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}
.about-block-history .swiper-box {
  /* position: relative; */
  /* margin-top: clamp(0.35rem, 14.16vw, 160px); */
  color: #fff;
}

.about-block-history .swiper-box .swiper-wrapper{
  display: flex;
  position: relative;
  left:-37%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
}

.about-block-history .swiper-box .swiper-history .swiper-slide {
  opacity: 1;
  /* position: relative;
  display:block; */
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #fff;
  /* flex-shrink: 1; */
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, .5); */
}
.about-block-history .swiper-box .swiper-history .swiper-slide a {
  display: block;
  position: relative;
  padding: 50px 50px 50px 50px;
}
.about-block-history .swiper-box .swiper-history .swiper-slide a::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
}
.about-block-history .swiper-box .swiper-history .swiper-slide.swiper-slide-active {
  opacity: 1;
  background-color: #fff;
}

.about-block-history .swiper-box .swiper-history .year {
  letter-spacing: -3px;
}
.about-block-history .swiper-box .swiper-history .year time{
  color: #005EB8;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  transition: .35s;
}
.about-block-history .swiper-box .swiper-history .year small{
  color: #000;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0px;
  position: absolute;
  right: 36px;
  top: 48px;
}
.about-block-history .swiper-box .swiper-history .p {
  --point: 6px;
  --lh: 1.7em;
  margin-top: 26px;
  font-size: 16px;
  line-height: 1.8em;
  color: #333;
}
.about-block-history .swiper-box .swiper-history .p p {
  display: flex;
}
.about-block-history .swiper-box .swiper-history .p p::before {
  content: '';
  display: block;
  flex-shrink: 0;
  margin-top: calc((var(--lh) - var(--point))/2);
  margin-right: 0.5em;
  border-radius: 50%;
  height: var(--point);
  width: var(--point);
  background: #C4C4CD;
}
.about-block-history .swiper-box .swiper-history .p p + p {
  margin-top: 0.6em;
}

.about-block-history .swiper-box .swiper-other {
  display: flex;
  position: relative;
  left: -15%;
  top:0;
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
  justify-content: space-between;
}
.about-block-history .swiper-box .swiper-thumb {
  --anstime: 3s;
  --pw: 12px;
  --pad: 35px;
  margin: calc(var(--pad)*-1) 0;
  width: calc(100% - var(--s)*2);
  padding: var(--pad) 0;
  overflow: hidden;
}
.about-block-history .swiper-box .swiper-thumb .swiper-wrapper{
  display: table-footer-group;
  position: relative;
  left: 0%;
}
 .about-block-history .swiper-box .swiper-thumb .swiper-wrapper::after {
  background: rgb(0,0,0,0.3);  /*默认时间*/
  bottom: 0;
  content: "";
  height: 0px;
  left: 0;
  position: absolute;
  width: 100%;
}
.about-block-history .swiper-box .swiper-thumb .swiper-wrapper .swiper-slide {
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: none;
}
.about-block-history .swiper-box .swiper-thumb .swiper-slide .swiper-slide-thumb-active{
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: rgb(0,0,0,1);
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  width: 100%;
}
/* .about-block-history .swiper-box .swiper-thumb .swiper-slide .swiper-slide-thumb-active::before p{
  display: block;
  position: absolute;
  background: rgb(0,94,184,1);
  bottom: 0px;
  content: "";
  height: 2px;
  left: 0;
  transition: 1s;
  width: 100%;
  cursor: pointer;
} */
.about-block-history .swiper-box .swiper-thumb .swiper-slide.swiper-slide-thumb-active .point {
  opacity: 1;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  background: rgb(0,94,184,1); /*选中时间线*/
  top: 40px;
  left: 0;
  transition: 1s;
  height: 2px;
  cursor: pointer;
}
.about-block-history .swiper-box .swiper-thumb .swiper-slide.swiper-slide-thumb-active .logo {
  opacity: 1;
}
.about-block-history .swiper-box .swiper-thumb .swiper-slide.swiper-slide-thumb-active .year {
  opacity: 1;
  width: 100%;
}
.about-block-history .swiper-box .swiper-thumb .icon {
  display: block;
  position: relative;
  width: 100%;
}
.about-block-history .swiper-box .swiper-thumb .point {
  /* display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  border: 3px solid #005EB8;
  width: calc(var(--pw)*1);
  height: calc(var(--pw)*1);
  background-color: #e4eff5; */
  display:inline-block;
  position: relative;
  width: 100%;
}
.about-block-history .swiper-box .swiper-thumb .point::before{
  /* content: '';
  display: block;
  position: absolute;
  left: 0%;
  top: 0%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#84BEFF, #84BEFF), linear-gradient(31deg, #2244b1 0%, #115aba 65%, #006fc3 100%), linear-gradient(#d9e3ef, #d9e3ef);
  background-blend-mode: normal, normal, normal;
  animation: pointrun1 var(--anstime) infinite; */
  content: "";
  display: block;
  position: absolute;
  background: rgb(0,94,184,0.3); /*默认时间线*/
  top: 40px;
  left: 0;
  transition: 1s;
  width: 100%;
  height: 2px;
  cursor: pointer;
  margin-top: 10px;
}
/* .about-block-history .swiper-box .swiper-thumb .point::after {
  background: rgb(0,94,184,1);
  animation-delay: 0.75s;
} */
/* .about-block-history .swiper-box .swiper-thumb .point::after {
  animation-delay: 0.75s;
} */
.about-block-history .swiper-box .swiper-thumb .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.about-block-history .swiper-box .swiper-thumb .logo img {
  display: block;
}
.about-block-history .swiper-box .swiper-thumb .year {
  display: inline-block;
  position: relative;
  margin-top: 0em;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 1;
  padding-bottom: 17px;
  transition: .3s;
}
.about-block-history .swiper-box .swiper-thumb .year:before {
  background: rgb(0,94,184,1); /*时间线顶端线条颜色*/
  content: "";
  width: 2px;
  height: 6px;  /*时间线顶端线条高度*/
  left: 0;
  bottom: 0;
  position: absolute;
  transition: 1s;
  }
}

/*标题*/
.about-block-history .history-top {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
}
.about-block-history .history-top .swiper-button{
  display: none;
  position: absolute;
  top:15%;
  right: 215px;
}
.about-block-history .history-top .swiper-button .swiper-btn{
  display: inline-block;
  margin-right: 6px;
}
.about-block-history .history-top .swiper-button .swiper-btn span {
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 25px;
  color: #000000;
  cursor: pointer;
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  transition: .35s;
  width: 70px;
}
.about-block-history .history-top .swiper-button .swiper-btn span:hover {
  border: 2px solid #005eb8;
  color: #fff;
  background-color: #005eb8;
}
.about-block-history .history-top .swiper-button .swiper-btn:last-child {
  margin-right: 0px;
}
/**/

@media screen and (max-device-width: 2048px) {
  .about-block-history .swiper-box .swiper-thumb .swiper-wrapper:before{
    bottom:1px;
  }
  .about-block-history .swiper-box .swiper-thumb .year:before{
    bottom:1px;
  }
}
@media screen and (max-device-width: 1920px) {
  .about-block-history .swiper-box .swiper-thumb .swiper-wrapper:before{
    bottom:0px;
  }
  .about-block-history .swiper-box .swiper-thumb .point::before{
    margin-top: 9px;
  }
}
@media screen and (max-width: 1680px) {
  .about-block-history .content{
    left:24.3%;
  }
  .about-block-history .swiper-box {
    /* margin-top: clamp(0.35rem, 7vw, 272px); */
  }
  /* .index-productConcept .swiper-slide a {
    width: auto;
  } */
  .about-block-history .swiper-box .swiper-thumb .year:before{
    bottom:1px;
  }
  .about-block-history .swiper-box .swiper-history .year {
    font-size: 40px;
  }
  .about-block-history .swiper-box .swiper-history .p {
    margin-top: 18px;
  }
  .about-block-history .swiper-box .swiper-history .p p + p {
    margin-top: 0.5em;
  }
  .about-block-history .swiper-box .swiper-other {
    /* margin-top: clamp(0.3rem, 3.6vw, 80px); */
    left: -12%;
  }
}
@media (max-width: 1500px) {
  .about-block-history .swiper-box .swiper-other{
    padding-left: 14.06vw;
    padding-right: 14.06vw;
    left: 0%;
    justify-content: space-between;
  }
  .about-block-history .swiper-box .swiper-history .year {
    font-size: 36px;
  }
  .about-block-history .history-top .swiper-button {
    right: 44px;
  }
}
@media (max-width: 1440px) {
  .about-block-history .swiper-box .swiper-other{
    padding-left: 9.06vw;
    padding-right: 26.06vw;
    left: -5%;
  }
}
@media (max-width: 1400px) {
  /* .about-block-history .swiper-box .swiper-history .p p + p {
    margin-top: 0em;
  } */
}
@media (max-width: 1366px) {
  .about-block-history .content {
    left: 27.3%;
  }
  .about-block-history .swiper-box .swiper-thumb .point::before{
    margin-top: 10px;
  }
}
@media (max-width: 1280px) {

  .about-block-history .content {
    left: 29%;
  }
  .about-block-history .swiper-box .swiper-wrapper{
    left:0%;
  }
  .about-block-history .swiper-box .swiper-thumb .point::before{
    margin-top: 9px;
  }
  .about-block-history .swiper-box .swiper-history .year time {
    font-size: 42px;
  }
}
@media (max-width: 1200px) {
  .about-block-history {
    padding-top: 87px;
  }
  .about-block-history .history-top .swiper-button{
    top:10%;
  }
  .about-block-history .content{
    top:22%;
    left: 31.3%;
  }
  .about-block-history .swiper-box .swiper-history .year {
    text-align: left;
    font-size: 30px;
  }
  .about-block-history .swiper-box .swiper-history .p {
    margin-top: 12px;
    font-size: 18px;
    line-height: 1.5em;
  }
  .about-block-history .swiper-box .swiper-other {
    margin-top: 0px;
    padding-left: 7.06vw;
    padding-right: 27.06vw;
    left: -5%;
  }
}
@media screen and (max-width:1024px) {
  .about-block-history .content {
    left: 33.3%;
  }
  .about-block-history .swiper-box .swiper-wrapper{
    left: 0%;
  }
  .about-block-history .swiper-box .swiper-thumb .point::before{
    margin-top: 10px;
  }
  .about-block-history .auto-title-block .auto-title-h2 {
    font-size: 40px;
  }
  .about-block-history .swiper-box .swiper-history .year time {
    font-size: 42px;
  }
  /* .about-block-history .swiper-box .swiper-other {
    margin-top: 0px;
    padding-left: 7.06vw;
    padding-right: 31.06vw;
    overflow: hidden;
  } */
  .about-block-history .swiper-box .swiper-other {
    margin-top: 0px;
    padding-left: 8.06vw;
    padding-right: 31.06vw;
    left: -5%;
  }
}
@media screen and (max-width:960px) {
  .about-block-history .content {
    left: 35.3%;
  }
  .about-block-history .swiper-box .swiper-other {
    padding-left: 7.06vw;
    padding-right: 29.06vw;
  }
}
@media screen and (max-width:820px) {
  .about-block-history{
    min-height: 550px;
  }
  .about-block-history .auto-title-block .auto-title-h2 {
    font-size: 32px;
  }
  .about-block-history .history-top .swiper-button .swiper-btn span{
    height: 35px;
    line-height: 35px;
  }
  .about-block-history .content {
    top:20%;
    left: 42.3%;
  }
  .about-block-history .swiper-box .swiper-wrapper {
    left: 26%;
  }

  .about-block-history .swiper-box .swiper-other {
    padding-left: 7.06vw;
    padding-right: 25.06vw;
  }
  .about-block-history .swiper-box .swiper-thumb .year {
    font-size: 16px;
  }
  .about-block-history .swiper-box .swiper-history .year small {
    font-size: 20px;
    top: 33px;
  }
}

@media screen and (max-width:800px) {
  .about-block-history .content {
    left: 43.3%;
  }
  .about-block-history .swiper-box .swiper-wrapper {
    left: -25%;
  }
  .about-block-history .swiper-box .swiper-thumb .swiper-wrapper:before {
    bottom: 0px;
  }
  .about-block-history .swiper-box .swiper-thumb .point::before{
    margin-top: 9px;
  }
  .about-block-history .swiper-box .swiper-other {
    margin-top: 0px;
    padding-left: 6vw;
    padding-right: 37.06vw;
    left: -5%;
  }
}
@media screen and (max-width:768px) {
  .about-block-history .swiper-box .swiper-other {
    padding-left: 8vw;
    padding-right: 37.06vw;
  }
  .about-block-history .swiper-box .swiper-history .year time{
    font-size: 32px;
  }
}
@media screen and (max-width:640px) {
  .about-block-history .content {
    left: 55%;
    width: 96%;
  }
  .about-block-history .swiper-box .swiper-wrapper {
    left: 0%;
  }
  .about-block-history .swiper-box .swiper-thumb .swiper-wrapper:before {
    bottom:-1px;
  }
  .about-block-history .swiper-box .swiper-thumb .point::before{
    margin-top: 10px;
  }
  .about-block-history .swiper-box .swiper-other {
    padding-left: 7vw;
    padding-right: 3.06vw;
  }
}
@media screen and (max-width:600px) {
  .about-block-history {
    min-height: 550px;
  }
  .about-block-history .content {
    top: 20%;
    left: 56.3%;
  }
  .about-block-history .swiper-box .swiper-wrapper {
    left: 0%;
  }
  /* .about-block-history .swiper-box .swiper-thumb .swiper-wrapper .swiper-slide{
    display: ruby;
  } */
  .about-block-history .swiper-box .swiper-other {
    display: inline-block;
    width: 100%;
    padding-left: 7vw;
    padding-right: 2.06vw;
  }
  .about-block-history .swiper-box .swiper-thumb{
    padding: 20px 0;
  }
}
@media screen and (max-width:540px) {
  .about-block-history .content {
    left: 64.3%;
  }
  .about-block-history .swiper-box .swiper-thumb .point::before{
    margin-top: 9px;
  }
}
@media screen and (max-width:480px) {
  .about-block-history .content {
    left: 71.3%;
  }
  /* .about-block-history .swiper-box .swiper-thumb .swiper-wrapper:before{
    bottom:0;
  } */
  .about-block-history .swiper-box .swiper-thumb .swiper-wrapper .swiper-slide{
    display:ruby;
  }
  .about-block-history .swiper-box .swiper-other {
    display: inline-block;
    width: 100%;
    padding-left:6vw;
    padding-right: 2.06vw;
  }
  .about-block-history .swiper-box .swiper-thumb .point::before{
    margin-top: 9px;
  }
  .about-block-history .swiper-box .swiper-thumb .swiper-slide.swiper-slide-thumb-active .point {
    top: 49px;
  }
}
@media screen and (max-width:414px) {
  .about-block-history {
    min-height: 600px;
  }
  .about-block-history .content {
    left: 83.3%;
  }
  .about-block-history .swiper-box .swiper-history .swiper-slide a {
    display: block;
    position: relative;
    padding: 30px 30px 30px 30px;
  }
}
@media screen and (max-width:375px) {
  .about-block-history {
    min-height: 670px;
  }
  .about-block-history .history-top .swiper-button .swiper-btn span {
    width: 50px;
    height: 25px;
    line-height: 26px;
  }
  .about-block-history .content {
    top:17%;
    left: 91.3%;
  }
}
@media screen and (max-width:320px) {
  .about-block-history .content {
    left: 106.3%;
  }
}
