@charset "UTF-8";
*{padding:0px;margin:0px;}

.container {
  max-width: 1490px;
  position: relative;
  margin: 0 auto;
  width: 96%;
  transform: translateZ(0);
  will-change: transform;
  overflow: hidden;
}
.about-page {
  margin-bottom: -3.25vw;
}

/* 公司发展历程 */
.history-top {
  display: block;
}
.history-top .swiper {
  width: 100%;
  height: 100%;
  padding-top: 8.8vw;
}
.history-top .swiper-wrapper {
  padding-bottom: 4.95vw;
}
.history-top .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.history-top .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.history-top .swiper-button-prev:after,
.history-top .swiper-button-next:after {
  font-size: 14px;
  font-weight: bold;
}
.history-top .swiper-button-prev,
.history-top .swiper-button-next {
  border: 2px solid #000000;
  border-radius: 25px;
  color: #000000;
  width: 74px;
  height: 49px;
  top: 25px;
}
.history-top .swiper-button-prev:hover,
.history-top .swiper-button-next:hover {
  border: 2px solid #005eb8;
  color: #fff;
  background-color: #005eb8;
}
.history-top .swiper-button-prev {
  right: 100px;
  left: auto;
}
.history-top .swiper-pagination {
  top: auto !important;
  bottom: 0px;
  background: rgba(0, 94, 184, 0.3);
}
.history-top .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #005eb8;
}
.history-top .swiper-horizontal > .swiper-pagination-progressbar,
.history-top .swiper-pagination-progressbar.swiper-pagination-horizontal {
  height: 2px;
}


.timer-list {
  display: flex;
  justify-content: space-between;
}
.timer-list .timer p {
  position: relative;
  color: #000000;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 18px;
}
.timer-list .timer p::before {
  background: #005eb8;
  content: "";
  height: 4px;
  width: 2px;
  left: 0px;
  bottom: 2px;
  position: absolute;
  transition: 1s;
}

/* 首页二级菜单business */
.business {margin-bottom:0px;}
.business:after{content:""; position:absolute; top:0; left:0;z-index: 2;width:100%; height:100%; background:rgba(0,0,0,0.3);opacity: 1;}
.business:before{background:rgba(0,0,0,0.1);}
.business:hover:after {
  opacity: 1;
  transition: 0.3s;
}
.business:hover .content-box {
  opacity: 1;
  transition: 0.3s;
}
.business .content-img {
  display: block;
  position: relative;
  height: 100vh;
}
.business .content-img>img {
  display: inline-block;
  max-width: 100%;
  height: 100vh;
  object-fit:cover;
  /* -o-object-fit:cover; */
}
.business .pc{
  display: block;
}
.business .iPad{
  display: none;
}
.business .mb{
  display: none;
}
.business .content-box {
  top: 38%;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  z-index: 999;
  opacity: 1;
  text-align: center;
}
.business .content-box p {
  color: #fff;
}
.business .content-box .title {
  font-size: 40px;
  font-weight: bold;
}
.business .content-box .text {
  font-size: 30px;
}
@media screen and (max-width:1024px) {
  .business .pc{
    display: none;
  }
  .business .iPad{
    display: block!important;
  }
  .business .mb{
    display: none;
  }
  .business .content-img img {
    display: contents;
  }
}
/* @media screen and (min-width: 768px) and (max-width: 992px) {
  .business .pc{
    display: none;
  }
  .business .iPad{
    display: block;
  }
  .business .mb{
    display: none;
  }
} */
@media screen and (max-width:768px) {
  .business .content-box .title {
    font-size: 30px;
    font-weight: 600;
  }
}
.business .content-box .text {
  font-size: 24px;
}

@media screen and (max-width:640px) {
  .business .pc{
    display: none;
  }
  .business .iPad{
    display: none;
  }
  .business .mb{
    display: block;
  }
  .swiper-slide .business img {
    display: block;
    height: 100vh;
    text-align: center;
  }
  .business .content-box{
    display: inline-block;
    left: 4%;
    top: 38%;
    width: 84%;
    text-align: left;
  }
  .business .content-box .text {
    font-size: 22px;
    line-height: 1.2;
  }
}
@media screen and (max-width:640px) {
  .business .content-box .title {
    font-size: 28px;
    font-weight: 600;
  }
  .business .content-box .text {
      font-size: 18px;
      line-height: 1.2;
  }
}

/* 加入乐能join */
.talent {
  position: relative;
  border-radius: 0px 0px 50px 50px;
  overflow: hidden;
}
.talent-bg-pc{
  display: block;
  text-align: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  flex-shrink: 0;
}
.talent-bg-mb{
  display: none;
}
.talent .talent-contain {
  position: absolute;
  width: 100%;
  top: 60px;
}
.talent .talent-contain .talent-content {
  width: 38%;
}
.talent .talent-contain .title {
  margin-bottom: 60px;
}
.talent .talent-contain .title p {
  color: #fff;
  background-color: #0a64bb;
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  display: inline-block;
  border-radius: 20px;
  padding: 0px 20px;
}
.talent .content-box {
  padding-bottom: 35px;
}
.talent .content-box p {
  color: #0a64bb;
  font-size: 26px;
  font-weight: bold;
}
.talent .content-box span {
  color: #0a64bb;
  font-size: 18px;
}


.innovate {
  display: block;
  margin-top: 130px;
}
.innovate .innovate-contain {
  display: inline-block;
  width: 100%;
}
.innovate .innovate-contain .box {
  display: block;
  border-radius: 50px;
}
.innovate .innovate-contain .img{position:absolute; top:0; left:0; width:100%; height:100%;overflow:hidden;background-repeat:no-repeat; background-position:center center; background-size:cover;background-attachment: fixed;-webkit-transform:scale(1); -moz-transform:scale(1);
  -ms-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
  -webkit-transition:all 0.3s ease-out 0s;
  -moz-transition:all 0.3s ease-out 0s; -o-transition:all 0.3s ease-out 0s; transition:all 0.3s ease-out 0s;
}
.innovate .innovate-contain .img:after{ content:""; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.3);}
.innovate .innovate-contain .img:before{background:rgba(0,0,0,1);}
.innovate .innovate-contain:hover .img{ -webkit-transform:scale(1.03, 1.03); -moz-transform:scale(1.03, 1.03); -o-transform:scale(1.03, 1.03); -ms-transform:scale(1.03, 1.03); transform:scale(1.03, 1.03);}
.innovate .innovate-contain .pc{
  display: block;
}
.innovate .innovate-contain .mb{
  display: none;
}
.innovate .innovate-boxs {
  position:relative;
  top: 0%;
  width: 100%;
  padding:18% 0 18%;
  text-align: center;
  overflow:hidden;
  z-index:2;
}
.innovate .innovate-boxs p {
  width:94%;
  margin:0 auto;
  line-height:1.8;
  margin-bottom:6px;
  font-weight:bold;
  color: #fff;
  font-size: 40px;
  overflow:hidden;
}
.innovate .innovate-boxs dt {
  width:94%;
  margin:0 auto;
  line-height:1.5;
  font-size:26px;
  color: #fff;
}
.innovate .innovate-href {
  display:block;
  margin:0 auto;
  width:56px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 18px;
  overflow:hidden;
}
.innovate .innovate-href i{
  color: #005EB8;
}
.innovate .innovate-contain:hover .innovate-href{
  background-color: #005EB8;
}
.innovate .innovate-contain:hover .innovate-href i{
  color: #fff;
}


.join {
  position: relative;
}
.join .join-bg{
  max-width: 100%;
  height: auto;
  /* background: -webkit-linear-gradient(-180deg,#fff, #526381);
  background: -o-linear-gradient(-180deg,#fff, #526381);
  background: linear-gradient(-180deg,#fff, #526381); */
}
.join .pc{
  max-width: 100%;
  max-height: 100vh;
  background-image: url("../images/join_bg.jpg");
  padding: 61px 0 0 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
  background-color: #9EB8D2;
}
.join .mb{
  display: none;
  max-width: 100%;
  max-height: 100vh;
  background-image: url("../images/join_bg_mb.jpg");
  padding: 61px 0 0 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #9EB8D2;
}
/* .join .join-bg img {
  width: auto\9;
  width: 100%;
  height: auto;
} */
.join .join-all {
  display:block;
  /* position: absolute;
  top: 110px;
  left:0; */
  width: 100%;
  height: auto;
  padding: 80px 0 80px 0;
  background-image: url("../images/join_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #9EB8D2;
}
.join_three{display:block;width: 100%;min-height: 900px;}
.join_three .join_three_t {display:flex;margin-top:0%; justify-content: space-between;overflow:hidden; }
.join_three .join_three_t .title{ font-size: 40px;font-weight: 700;}
.join_three .join_a{margin-top: 10px;font-weight:bold;}
.join_three .join_a a{float:left;color:rgb(0,0,0,0.2);font-size: 22px; margin-right:10px;padding: 6px 16px;line-height:1.5;overflow:hidden;border: 1px solid #cacaca;border-radius: 20px;}
.join_three .join_a:hover a{color:#fff;border:1px solid var(--main-color);background-color:var(--main-color);}
.join_three .join_a a.on{ color:#fff;background-color:var(--main-color);border:1px solid var(--main-color);}
.join_three .join_a a:last-child{margin-right:0px;}

.join_three .divhidden{opacity:0;filter:Alpha(opacity=0);transition:all 0.3s;overflow:hidden;  /*height:0;*/ /*display:none;*/ /*overflow:hidden;*/ width:100%; z-index:-44;}
.join_three .divhidden.join_2{ position:absolute; width:100%; height:auto; left:0; top:0; }
.join_three .divhidden.on{display: contents;opacity:1.0;filter:Alpha(opacity=100);/* height:auto;*/z-index:1;}
.join_three .join_three_con{
  /* padding-top:5%; margin-bottom:0%; position:relative;overflow:visible; */
  position: absolute;
  top: 8%;
  left: 28%;
  right: -568px;
  -webkit-transform: translate(-326px, 0);
  -moz-transform: translate(-326px, 0);
  -ms-transform: translate(-326px, 0);
  -o-transform: translate(-326px, 0);
  transform: translate(-326px, 0);
  z-index: 5;
}

.join_three .join_three_con .swiper-box{ position: relative;font-size: 16px; line-height: 1.33em;color: #222222;}
.join_three .join_three_con .swiper-box .swiper-btns {top: 0%;/* padding-bottom: calc(15px + 1.33em);*/}
.join_three .join_three_con .swiper-box .swiper-btns .swiper-btn {display:inline-block;--s:24px;}
.join_three .join_three_con .swiper-box .swiper-btns .prev {margin-top: 0px;margin-right: 15px;}
.join_three .join_three_con .swiper-box .swiper-btns .next{margin-left: 0px;}
.join_three .join_three_con .swiper-box .swiper-btns .self-svg{
  border-radius:22px;
  padding: 10px 33px 10px 33px;
  font-size: 24px;
}
.join_three .join_three_con .join_1 .swiper-box .swiper-btns{ /* width:127px;*/ top:0%;}
.join_three .join_three_con .join_1 .swiper-box .swiper-btns .swiper-btn{--s:24px;}
.join_three .join_three_con .join_1 .swiper-box .swiper-btns .prev{margin-top: 0;margin-right: 15px;}
.join_three .join_three_con .join_1 .swiper-box .swiper-btns .next{margin-left: 0px;}
.join_three .join_three_con .join_1 .swiper-box .swiper-btns .self-svg{
  border-radius:22px;
  padding: 10px 33px 10px 33px;
  font-size: 24px;
}

.join_three .join_three_con .swiper-container {--wrap-width:calc(100%-30px);overflow: hidden;}
.join_three .join_three_con .swiper-container .swiper-wrapper{padding-bottom: 1.95vw;}
.join_three .join_three_con .swiper-container .swiper-slide {/*width: calc(var(--wrap-width)/4);*/width: calc((var(--wrap-width) - 60px) / 3);will-change: width;transition: width 0.3s;background: none;}
.join_three .join_three_con .swiper-container .swiper-slide img {object-fit: cover; will-change: width; transition: width 0.3s;-webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1);-webkit-transition:all 0.3s ease-out 0s; -moz-transition:all 0.3s ease-out 0s; -o-transition:all 0.3s ease-out 0s; transition:all 0.3s ease-out 0s;}
.join_three .join_three_con .swiper-container .swiper-slide:hover img {-webkit-transform:scale(1.1, 1.1); -moz-transform:scale(1.1, 1.1); -o-transform:scale(1.1, 1.1); -ms-transform:scale(1.1, 1.1); transform:scale(1.1, 1.1);}
.join_three .join_three_con .swiper-container .swiper-slide .img-box{ border-radius:50px; overflow:hidden;}
.join_three .join_three_con .swiper-container .swiper-slide .img-box::before {padding-top: 0px;}
/*.join_three .join_three_con .swiper-container .swiper-slide.swiper-slide-active {width: calc(var(--wrap-width)*0.3884);}
.join_three .join_three_con .swiper-container .swiper-slide.swiper-slide-active .img-box::before {padding-top: 431px;}*/
.join_three .join_three_con .swiper-container .swiper-title{ line-height:32px; height:32px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; color:#333333; }
.join_three .join_three_con .swiper-container .swiper-date{ line-height:28px; padding-top:37px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#494949; }
.join_three .join_three_con .join_1  .swiper-container .swiper-date{/*opacity:0;filter:Alpha(opacity=0);*/}
.join_three .join_three_con .swiper-container .swiper-tt{ margin-top:20px;opacity:0;filter:Alpha(opacity=0);font-size:18px;}
.join_three .join_three_con .join_1{ margin-bottom:0px;}
.join_three .join_three_con .join_1 .swiper-container .swiper-tt{ margin-bottom:91px; display:none;}
.join_three .join_three_con .join_1 .swiper-container .swiper-slide-active .swiper-tt{display:none;}
.join_three .join_three_con .swiper-container .swiper-slide-active .swiper-tt{ display:block;opacity: 1.0; filter: Alpha(opacity=100);}
.join_three .join_three_con .swiper-container .swiper-slide-next .swiper-tt{ /*opacity:1.0;filter:Alpha(opacity=100);*/}
.join_three .join_three_con .swiper-container .swiper-tt2{/*opacity:0;filter:Alpha(opacity=0);*/font-size:18px; text-align:center; height:30px; line-height:30px;white-space:nowrap;text-overflow:ellipsis; margin-top:20px;}
.join_three .join_three_con .join_1 .swiper-container .swiper-slide-active .swiper-tt2{ display:block;opacity: 1.0; filter: Alpha(opacity=100);}]
.join_three .join_three_con .swiper-btns .swiper-btn{ }
.join_three .join_three_con .swiper-btns .swiper-btn .self-svg{color: #005EB8;font-size: 24px;background: hsla(0, 0%, 100%, .2);border: 1px solid #005EB8;}
.join_three .join_three_con .swiper-btns .swiper-btn:hover{ }
.join_three .join_three_con .swiper-btns .swiper-btn:hover .self-svg{color: #fff;background:#005EB8;border: 1px solid #005EB8;}

/**/
@media screen and (max-width: 1680px) {
  .join {
    padding-bottom: 0px;
  }
  .join .join-all {
    /* left: 6%; */
    left: 0%;
  }
  .join_three {min-height: 780px;}
  .join_three .join_three_con{
    left: 25%;
  }
}
@media screen and (max-width: 1440px) {
  .talent .talent-contain {
    top: 30px;
  }
  .talent .talent-contain .talent-content {
    width: 48%;
  }
  .talent .talent-contain .title {
    margin-bottom: 20px;
  }
  .talent .content-box {
    padding-bottom: 15px;
  }

  .join {
    padding-bottom: 0px;
  }
  .join_three {width: 96%;min-height: 680px;}
  .join_three .join_three_con .swiper-container .swiper-slide .img-box::before{ padding-top:0px;}
  /*.join_three .join_three_con .swiper-container .swiper-slide.swiper-slide-active .img-box::before{ padding-top:400px;}*/
  .join_three .join_three_con .swiper-container .swiper-tt{ margin-bottom:51px;}
  .join_three .join_three_con .join_1{ margin-bottom:100px;}
  .join_three .join_three_con .join_1 .swiper-container .swiper-tt{ margin-bottom:70px;}
}
@media screen and (max-width: 1400px) {
  .join_three {min-height: 620px;}
  .join_three .join_three_con {
    left: 25.5%;
    top: 9%;
  }
}
@media screen and (max-width:1366px){
  .talent .talent-contain {
    top: 30px;
  }
  .talent .talent-bg-pc {
    display: block;
    padding-top: 50px;
  }
  .talent .talent-contain .title p {
    font-size: 28px;
  }
  .talent .content-box p {
    font-size: 22px;
  }
  .innovate .innovate-boxs p{
    font-size: 38px;
  }
  .innovate .innovate-boxs dt {
    line-height: 1.1;
    font-size: 24px;
  }
  .join_three {min-height: 610px;}
  .join_three .join_three_con {
    left: 27%;
  }
  .join_three .join_three_t .title {
    font-size: 38px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1280px) {
  .talent {
    border-radius: 0px 0px 30px 30px;
  }
  .talent .talent-contain .talent-content {
    width: 46%;
  }
  .innovate .innovate-contain{
    border-radius: 30px;
  }
  .innovate {
    margin-top: 80px;
  }
  .innovate .innovate-contain .img{
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100% auto;
    background-attachment: fixed;
    object-fit: cover;
  }
  .join_three {
    min-height: 520px;
  }
  .join_three .join_three_con {
    left: 28%;
  }
  .join_three .join_three_con .swiper-container .swiper-slide .img-box {
    border-radius: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .talent .talent-contain .talent-content {
    width: 47%;
  }
  .talent .talent-contain .title {
    margin-bottom: 40px;
  }
  .talent .talent-contain .title p{
    font-size: 26px;
    line-height: 60px;
    border-radius: 16px;
    padding: 0px 15px;
  }
  .talent .content-box p {
    font-size: 20px;
  }
  .talent .content-box span {
    font-size: 16px;
  }

  .innovate {
    margin-top: 50px;
  }
  .innovate .innovate-boxs p {
      font-size: 32px;
  }
  .join_three {
    min-height: 700px;
  }
  .join_three .join_three_con{left: 30%;}
  .join_three .join_three_t .title {
    font-size: 32px;
  }
  .join_three .join_a a {
    font-size: 20px;
    line-height: 1.2;
  }

  .join_three .join_three_con .swiper-container .swiper-slide .img-box::before{ padding-top:0px;}
  /*.join_three .join_three_con .swiper-container .swiper-slide.swiper-slide-active .img-box::before{ padding-top:300px;}*/
  .join_three .join_three_con .swiper-container .swiper-tt{ margin-bottom:21px;font-size:17px;}
  .join_three .join_three_con .join_1{ margin-bottom:0px;}
  .join_three .join_three_con .join_1 .swiper-container .swiper-tt{ margin-bottom:49px;}
  .join_three .join_three_con .swiper-container .swiper-tt2{font-size:17px;}
  .join_three .join_three_con .swiper-container .swiper-date{ padding-top:30px; background-size:auto 20px;}
  .join_three .join_three_con .swiper-btns .swiper-btn{--s: 40px;}
}
@media screen and (min-width: 992px) {
  .business .business-content-pc {
    display: block;
  }
  .business .business-content-ip {
    display: none;
  }
  .business .business-content-ph {
    display: none;
  }
  .talent .talent-bg-pc {
    display: block;
  }
  .talent .talent-bg-mb {
    display: none;
  }
  .innovate .innovate-contain .pc {
    display: block;
    text-align: center;
  }
  .innovate .innovate-contain .mb {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .talent .talent-contain .talent-content {
    width: 100%;
  }
  .talent .talent-bg-pc{
    display: none;
  }
  .talent .talent-bg-mb{
    display: block;
  }

  .innovate .innovate-contain .box {
    display: block;
    border-radius: 30px;
  }
  .innovate .innovate-boxs {
    padding: 25% 0 25%;
  }

  .join .join-bg .pc{
    display: none;
  }
  .join .join-bg .mb{
    /* display: table-column; */
    display:block;
  }
  /* .join .join-all {
    top: 80px;
    padding-bottom: 16%;
  } */
  .join .join-all {
    display:block;
    width: 100%;
    height: auto;
    padding: 80px 0 80px 0;
    background-image: url("../images/join_bg_mb.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: #9EB8D2;
  }
  .join_three {
    min-height: 900px;
  }
  .join_three .join_three_con {
    top: 7%;
    left: 34.3%;
  }
  .join_three .join_three_con .swiper-box .swiper-btns .swiper-btn {
    --s: 20px;
  }
  .join_three .join_three_con .swiper-box .swiper-btns .self-svg {
    padding: 10px 23px 10px 23px;
  }
  .join_three .join_three_con .join_1 .swiper-box .swiper-btns .swiper-btn {
    --s: 20px;
  }
  .join_three .join_three_con .join_1 .swiper-box .swiper-btns .self-svg {
    padding: 10px 23px 10px 23px;
  }
  /*
  .innovate .innovate-contain .pc {
    display: none;
  }
  .innovate .innovate-contain .mb {
    display: block;
  } */
}

@media screen and (max-width: 960px) {
  .join_three .join_three_con{--wrap-width:768px;}
  /*.join_three .join_three_con .swiper-container .swiper-slide{  width: calc(var(--wrap-width)/3);}
  .join_three .join_three_con .swiper-container .swiper-slide.swiper-slide-active{width: calc(var(--wrap-width)*0.4);}*/
  .join_three .join_three_con .swiper-container .swiper-slide, .join_three .join_three_con .swiper-container .swiper-slide.swiper-slide-active{width: calc((var(--wrap-width) - 20px) / 2);}
  .join_three .join_three_con .swiper-container .swiper-slide .img-box::before{ padding-top:0%; /*padding-top:62.57%;*/}
  /*.join_three .join_three_con .swiper-container .swiper-slide.swiper-slide-active .img-box::before{padding-top:62.57%;}*/
  .join_three .join_three_con .swiper-container .swiper-slide-active .swiper-tt{ display:block;opacity:1.0;filter:Alpha(opacity=100);}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .business .business-content-pc {
    display: none;
  }
  .business .business-content-ip {
    display: block;
  }
  .business .business-content-ph {
    display: none;
  }
  .business .content-box .title {
    font-size: 52px;
    font-weight: bold;
  }
  .business .content-box .text {
    font-size: 32px;
    font-weight: bold;
  }
  .talent .talent-contain .talent-content {
    width: 100%;
  }
  .talent .talent-contain .title {
    margin-bottom: 40px;
  }
  .talent .talent-contain .title p {
    font-size: 28px;
    line-height: 52px;
  }
  .talent .talent-bg-pc {
    display: none;
  }
  .talent .talent-bg-mb {
    display: block;
  }
  .talent .talent-contain {
    top: 65px;
  }
  .talent .content-box {
    padding-bottom: 10px;
  }
  .talent .content-box p {
    font-size: 22px;
  }
  .talent .content-box span {
    font-size: 16px;
  }

  .innovate {
    padding-top: 50px;
  }
  .innovate .innovate-contain .pc {
    display: none;
  }
  .innovate .innovate-contain .mb {
    display: block;
  }
}
@media screen and (max-width: 820px) {
  .innovate .innovate-contain .pc {
    display: none;
  }
  .innovate .innovate-contain .mb {
    display: block;
  }

  .join_three {
      min-height: 700px;
  }
  .join .join-bg .mb {
    padding-bottom: 12%;
  }
  .join_three .join_three_con {
    left: 42.3%;
  }

  .join_three .join_three_con .swiper-box {
    line-height: 5.33em;
  }
}
@media screen and (max-width: 800px) {
  .join_three .join_three_con {
    left: 43.3%;
  }
}
@media screen and (max-width: 768px) {
  .talent .talent-contain .talent-content {
    width: 100%;
  }
  .talent .talent-contain .title {
    margin-bottom: 20px;
  }
  .talent .talent-contain .title p {
    font-size: 22px;
    line-height: 42px;
  }
  .talent .talent-bg-pc {
    display: none;
  }
  .talent .talent-bg-mb {
    display: block;
  }
  .talent .talent-contain {
    top: 70px;
  }
  .talent .content-box {
    padding-bottom: 20px;
  }
  .talent .content-box p {
    font-size: 18px;
  }
  .talent .content-box span {
    font-size: 12px;
  }
  .innovate {
    margin-top: 40px;
  }
  .innovate .innovate-contain .pc {
    display: none;
  }
  .innovate .innovate-contain .mb {
    display: block;
  }
  .innovate .innovate-content p {
    font-size: 24px;
  }
  .innovate .innovate-content span {
    font-size: 16px;
  }

  .join .join-bg .mb {
    padding-bottom: 21%;
  }
  .join_three .join_three_con {
    left: 45%;
  }
}
@media screen and (max-width: 640px) {
  .talent .talent-bg-mb {
    padding-top: 100px;
  }
  .join_three {
    min-height: 700px;
  }
  .join .join-all {
    top: 50px;
  }
  .join_three .join_three_t .title {
    font-size: 28px;
  }
  .join_three .join_a a {
    font-size: 16px;
    line-height: 1.2;
  }
  .join_three .join_three_con {
    left: 54%;
  }
  /* .join_three .join_three_con{--wrap-width:calc(100%-20px); padding-bottom:60px;}
  .join_three .join_three_con .swiper-container .swiper-slide, .join_three .join_three_con .swiper-container .swiper-slide.swiper-slide-active{width: calc((var(--wrap-width) - 20px) / 2);}
  .join_three .join_three_con .swiper-container .swiper-slide{width: calc((var(--wrap-width) - 20px) / 2);} */
  .join_three .join_three_con .swiper-container .swiper-tt{ font-size:16px;}
  .join_three .join_three_con .swiper-container .swiper-tt2{font-size:16px;}

  /* .join_three .join_three_con .swiper-btns .swiper-btn{--s: 40px;}
  .join_three .join_a a{ margin-right:20px;}
  .join_three .join_three_con .swiper-box .swiper-btns{ bottom:-55px; top:auto; width:100%; max-width:95px; right:calc(50% - 47px);}
  .join_three .join_three_con .swiper-box .swiper-btns .swiper-btn{ display:inline-block; vertical-align:top;}
  .join_three .join_three_con .swiper-box .swiper-btns .prev{ margin-top:0; float:left; margin-right:15px;}
  .join_three .join_three_con .join_1 .swiper-box .swiper-btns{ top:auto;} */
}
@media screen and (max-width: 600px) {
  .join .join-bg .mb {
    padding-bottom: 39%;
  }
  .join_three .join_three_con {
    left: 57.5%;
  }
  .join_three .join_three_con .swiper-box .swiper-btns .swiper-btn {
    --s: 16px;
  }
  .join_three .join_three_con .join_1 .swiper-box .swiper-btns .swiper-btn {
    --s: 16px;
  }
  /* .join_three .join_three_con{ padding-bottom:30px;}
  .join_three .join_three_con .swiper-container .swiper-tt{ font-size:14px; margin-bottom:15px;}
  .join_three .join_three_con .join_1{ margin-bottom:89px;} */
  .join_three .join_three_con .join_1 .swiper-container .swiper-tt{ margin-bottom:43px;}
  .join_three .join_three_con .swiper-container .swiper-tt2{font-size:14px; margin-top:15px;}
  .join_three .join_three_con .swiper-container .swiper-title{ line-height:26px; height:26px;}
  .join_three .join_three_con .swiper-container .swiper-date{ padding-top:20px;background-size: auto 16px;}
  /*.join_three .join_three_con .swiper-box .swiper-btns .prev{ margin-top:5px;}*/
}
@media screen and (max-width: 540px) {
  .talent .talent-bg-mb {
    padding-top: 180px;
  }
  .innovate .innovate-boxs p {
    font-size: 28px;
  }
  .innovate .innovate-boxs dt {
    font-size: 20px;
  }

  .join_three {
    min-height: 500px;
  }
  .join .join-bg .mb {
    padding-bottom: 71%;
  }
  .join_three .join_three_con {
    left: 63.5%;
  }
}
@media screen and (max-width:480px) {
  .talent {
    border-radius: 0px 0px 20px 20px;
  }
  .talent .talent-contain {
    top: 50px;
  }
  .talent .talent-contain .title p {
    font-size: 20px;
  }

  .innovate .innovate-contain .box {
    border-radius: 20px;
  }
  .innovate .innovate-boxs p {
    font-size: 24px;
  }

  .join .join-all {
    padding: 40px 0 80px 0
  }
  .join_three {
    min-height: 600px;
  }
  .join .join-bg .mb {
    padding-bottom: 280%;
  }
  .join_three .join_three_con {
    display: contents;
    width: 100%;
    left: 70%;
    top:20%;
  }
  /* .join .join-all {
    padding-bottom: 22%;
  }
  .join_three .join_three_t .title {
    font-size: 24px;
  }
  .join_three .join_a {
    margin-top: 5px;
  }

  .join_three .join_three_con .swiper-container .swiper-slide .img-box {
    border-radius: 20px;
  } */
}
@media screen and (max-width:414px) {
  .join_three {
    min-height: 500px;
  }
  /* .join_three {
    min-height: 750px;
  } */
  .join_three .join_three_con {
    width: 97%;
    left: 81%;
  }
  .join_three .join_three_con .join_1 {
    display: block;
    margin-top: 20px;
  }
}
@media screen and (max-width:375px) {
  .talent .talent-bg-mb {
    padding-top: 231px;
  }
  .join .join-bg .mb {
    padding-bottom: 290%;
  }
  .join_three .join_three_con {
    left: 91%;
  }
}
@media screen and (max-width:320px) {
  .talent .talent-bg-mb {
    padding-top: 331px;
  }
  .join_three {
    min-height: 380px;
  }
  .join .join-bg .mb {
    padding-bottom: 328%;
  }
  .join_three .join_three_t .title {
    font-size: 22px;
  }
  .join_three .join_a {
    margin-top: 5px;
  }
  .join_three .join_three_con {
    left: 104.5%;
  }
}
